* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* BANNER SECTION */

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(images/banner.jpg);
    background-size: cover;
    /* cover - jeden obrazek zajmie tło 
       contain - jeden obrazek zająłby tyle miejsca ile potrzebuje + powtórka */
    background-position: center;
    height: 100vh;
}

.logo {
    width: 140px;
    position: absolute;
    /* absolute - element will be positioned at a specific location within its parent element, and 
    it will not be affected by the positioning of other elements on the page */
    top: 4%;
    left: 5%;
}

.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner-text h1 {
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}

.banner-text p {
    font-size: 20px;
    font-style: italic;
}

.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 1px #fff solid;
    position: relative;
    /* domyślnie jest static więc trzeba ustawić na relative
    static - umiejscowiony zgodnie z "flow" elementu, nie może użyć top,left,bottom,right
    relative - umiejscowiony zgodnie z "flow" elementu, może użyć top,left,bottom,right
    absolute - umiejscowiony absolutnie względem elementu rodzica, zostanie umieszczony 
    w określonym miejscu w swoim elemencie rodzica i inne elementy na stronie nie będą miały
    na niego wpływu
    fixed - umiejscowiony zgodnie z viewportem, będzie na tej samej pozycji ekranu nawet
    jeśli strona będzie scrollowana
    sticky - umiejscowiony tak jak 'relative' do momentu aż pewna pozycja scrollowania zostanie
    przekroczona i wtedy staje się 'fixed'
    */
    z-index: 1;
    /* to make the text visible why transform */
}

.banner-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    /* to make the text visible why transform */
    transition: 0.5s;
}

.banner-btn a:hover span {
    width: 100%;
}

.banner-btn a:hover {
    color: black;
}

/* NAVIGATION BAR SECTION */

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#menuBtn {
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius:3px;
    z-index:3;
    cursor:pointer;
}

#menuBtn img {
    width:20px;
    margin-top:15px;
}