* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* -- BANNER -- */

#banner {
    background: linear-gradient(rgb(10, 226, 205, 0.5), rgba(0, 0, 0, 0.5)), url('images/background.jpg');
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    z-index: -999;
}

/* -- class added to navbar-top in js while scroll operation -- */

.shrink {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

/* -- navbar-top -- */

.navbar-top {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 75px;
}

.navbar-top .logo {
    height: 100%;
    cursor: pointer;
    z-index: 10;
}

.navbar-top .logo img {
    height: 100%;
}

.navbar-top .menu {
    display: none;
}

.navbar-text {
    z-index: 10;
}

.navbar-text a {
    color: #000;
    text-decoration: none;
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
}

/* -- banner-text -- */

.banner-text {
    text-align: center;
    padding-top: 380px;
    margin: 0 auto;
    color: #fff;
    width: 700px;
}

.banner-text h1 {
    font-size: 80px;
}

.banner-text p {
    padding: 15px 0;
    font-size: 20px;
}

.banner-text button {
    color: #fff;
    background: transparent;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #fff;
    letter-spacing: 5px;
    cursor: pointer;
}

.banner-text button:hover {
    color: #000;
    background-color: #fff;
}

/* -- SECTION ELEMENTS -- */

.section-element {
    height: 90vh;
}

.section-element h1 {
    font-size: 50px;
    text-align: center;
}

.section-element h1 span {
    color: rgb(10, 226, 205);
}

#about,
#tours {
    background-color: #eee;
}

#footer {
    height: 20vh;
    background-color: darkcyan;
}

/* -- ARROW-UP-BUTTON -- */

.arrow-up-button {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background-color: darkcyan;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

.arrow-up-button img {
    width: 100%;
    padding: 10px;
}

.display-block {
    display: block;
}

/* -- MEDIA QUERIES -- */

@media (max-width: 1800px) {
    .banner-text {
        padding-top: 250px;
    }
}

@media (max-width: 1000px) {
    #banner {
        padding: 0;
    }

    .navbar-top {
        position: fixed;
        background-color: #fff;
        padding: 0 25px;
    }

    .navbar-top .menu {
        display: block;
        cursor: pointer;
        z-index: 10;
    }

    .navbar-text {
        position: fixed;
        top: -250px;
        left: 0;
        height: 250px;
        width: 100%;
        background-color: #fff;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 25px;
        padding-top: 80px;
        padding-bottom: 10px;
    }

    .navbar-text a {
        color: #000;
    }

    .active {
        top: 0;
    }

    .banner-text {
        padding-top: 280px;
        width: 500px;
    }
}