@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #a2c312,
            #d2c312, #f2c312, #ffc312, #fff312);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 60vh;
    min-width: 370px;
    max-width: 370px;
}

.display {
    width: 100%;
    min-height: 20%;
    max-height: min-content;
    background-color: rgba(29, 27, 27, 0.151);
    box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
    color: #fff;
    word-break: break-all;
    /*  
    normal - This is the default value. It specifies that the browser 
    should break words at appropriate places based on the rules 
    of the language being used.

    break-all - This value allows words to be broken at any character, 
    regardless of language rules.
    
    keep-all - This value prevents the browser from breaking words 
    at any character, even if it means that the word extends beyond 
    the edge of the container.
    */
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px;
    font-weight: bold;
}

.currentNumber {
    font-size: 35px;

}

.previousNumber {
    color: rgb(182, 182, 182);
    font-size: 20px;
}

.mathSign {
    font-size: 22px;
}

.panel {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;
}

.panel button {
    font-size: 25px;
    background: rgba(0, 0, 0, 0.466);
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    transition: all .2 ease-in-out;
    /* 
ease - specifies a transition effect with a slow start, then fast, 
then end slowly (this is default)

linear - specifies a transition effect with the same speed from start 
to end

ease-in - specifies a transition effect with a slow start

ease-out - specifies a transition effect with a slow end

ease-in-out - specifies a transition effect with a slow start and end

cubic-bezier(n,n,n,n) - lets you define your own values in a cubic-bezier 
function
    */
}

button:hover {
    background-color: rgba(0, 0, 0, 0.546);
}

.equals {
    grid-column: -2/-1;
    grid-row: -3/-1;
}

.calculator-history {
    height: 60vh;
    margin: 20px;
    width: 150px;
    background-color: rgba(20, 27, 27, 0.151);
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
}

.history {
    list-style: none;
}

.history-title {
    padding-bottom: 10px;
}

.history-btn {
    color: #fff;
    background: rgba(29, 27, 27, 0.603);
    border: none;
    font-size: 15px;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    display: none;
    outline: none;
    margin: 5px auto;
}

.history-btn.active {
    display: block;
}

.history-item {
    margin: 8px 0px;
    letter-spacing: 1px;
    border: 1px solid rgba(29,27,27,0.233);
    padding-bottom: 5px;
}