* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: #efefef;
}

#navbar {
    width: 100%;
    background: #1876f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.left-menu,
.right-menu {
    display: flex;
    align-items: center;
}

.logo {
    width: 160px;
    cursor: pointer;
    margin-right: 45px;
}

.left-menu ul li {
    list-style: none;
    display: inline-block;
}

.icon {
    width: 28px;
    margin: 0 20px;
    cursor: pointer;
}

.search-box {
    background-color: #efefef;
    display: flex;
    border-radius: 20px;
    padding: 10px 20px;
}

.search-icon {
    width: 15px;
}

.search {
    background-color: transparent;
    /* To spowoduje, że tło elementu będzie przezroczyste 
    i będzie widać tła za nim.   */
    margin-left: 5px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 15px;
}

.profile-pic-icon {
    width: 35px;
    margin-left: 20px;
    position: relative;
}

.profile-pic {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    width: 10px;
    height: 10px;
    background-color: #41db51;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* -- CONTAINER -- */

.container {
    padding: 13px 5%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
}

#left-sidebar,
#right-sidebar {
    position: sticky;
    top: 70px;
}

.imp-links ul li,
.shortcut-links ul li {
    list-style: none;
    margin-bottom: 30px;
}

.imp-links ul li a,
.shortcut-links ul li a {
    text-decoration: none;
    color: #626262;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.imp-links ul li a img {
    width: 28px;
    margin-right: 10px;
}

.imp-links>a {
    display: block;
    text-decoration: none;
    color: #1876f2;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.shortcut-links p {
    margin: 25px 0;
    font-weight: 600;
    color: #626262;
}

.shortcut-links ul {
    margin-top: 20px;
}

.shortcut-links ul li a img {
    width: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

/* -- Main -- */

.status-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
    height: 250px;
    margin-bottom: 25px;
}

.status {
    position: relative;
}

.status .photo {
    height: 100%;
    border-radius: 10px;
}

.status .upload {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 55px;
    left: 50px;
    cursor: pointer;
}

.status-image {
    width: 40px;
    height: 40px;
    border: 4px solid #1876f2;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: pointer;
    overflow: hidden;
}

.status-image img {
    height: 100%;
}

.status-text {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-weight: 600;
}

.write-post-container {
    width: 100%;
    background: #fff;
    padding: 15px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
}

.write-post-container .profile-pic-icon {
    width: 45px;
}

.write-post-info {
    width: 100%;
    padding-top: 2px;
    color: #626262;
}

.write-post-info span {
    font-size: 12px;
}

.write-post {
    width: 100%;
    margin-top: 10px;
}

.write-post textarea {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd4d4;
    resize: none; /* usuwa te ikone z prawego dolnego rogu */
}

.write-post-icons {
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.write-post-icons img {
    width: 20px;
}

.write-post-icons span {
    margin-right: 25px;
}

.post-container {
    
}

/* -- Right Sidebar */

#right-sidebar {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}

.events {
    margin-bottom: 10px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.sidebar-header>h4 {
    font-weight: 600;
    color: #626262;
}

.sidebar-header>a {
    text-decoration: none;
    font-size: 12px;
    color: #1876f2;
}

.events {
    display: flex;
    flex-direction: column;
}

.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
}

.event-left {
    height: 65px;
    width: 65px;
    border-radius: 10px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    /* dolny border-radius jest ukryty dzieki temu
    /* co dzieje się z elementami, które wychodzą poza granice swojego kontenera:
    visible - elementy, które wychodzą poza granice kontenera, są widoczne
    hidden - elementy, które wychodzą poza granice kontenera, są ukryte
    scroll - do kontenera są dodawane paski przewijania, dzięki czemu można przewijać zawartość kontenera
    auto -  paski przewijania są dodawane tylko wtedy, gdy zawartość kontenera przekracza jego granice
    */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-left span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}

.event-right p {
    font-size: 12px;
}

.event-right a {
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.event-right img {
    width: 10px;
}

.advertisement img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}

.conversation-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.conversation-details a {
    text-decoration: none;
    color: #626262;
}

.conversation-user {
    width: 40px;
    margin-right: 20px;
    position: relative;
}

.conversation-user img {
    width: 100%;
    border-radius: 50%;
}

.conversation-user a {
    text-decoration: none;
    margin-bottom: 20px;
    color: #626262;
}

.conversation-user .active {
    top: unset;
    /* pobiera wartość top od parenta, a ta u parenta nie jest ustawiona 
    więc domyślnie jest top: auto */
    bottom: 4px;
}